<header id="layout-header">
    <nav>
        <div class="nav-left">
            <span>Placement Cell</span>
        </div>
        <div class="nav-right">
            <ul>
                <li>Username</li>
                <li>Login</li>
                <li>SignUp</li>
            </ul>
        </div>
    </nav>
</header>