<header id="layout-header">
    <nav>
        <div class="nav-left">
            <span>
                <% if(locals.employee){ %>
                    <a href="/">Home</a>
                <% }else{ %>
                    <a href="/">Placement Cell</a>
                <% } %>
            </span>
        </div>
        <div class="nav-right">
            <ul>
                <% if(locals.employee){ %>
                    <li><%= locals.employee.name %></li>
                    <li>
                        <a href="/employee/destroy-session">Logout</a>
                    </li>
                <% }else{ %>
                    <li>
                        <a href="/employee/sign-in">Login</a>
                    </li>
                    <li>
                        <a href="/employee/signup">SignUp</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>