<header id="layout-header">
    <nav>
        <div class="nav-left">
            <span>
                <a href="/">Placement Cell</a>
            </span>
        </div>
        <div class="nav-right">
            <ul>
                <li>Username</li>
                <li>
                    <a href="/employee/sign-in">Login</a>
                </li>
                <li>
                    <a href="/employee/signup">SignUp</a>
                </li>
            </ul>
        </div>
    </nav>
</header>