<link type="text/css" rel="stylesheet" href="/css/employee_signup.css">
<form class="signup-form" action="" method="post">
    <span class="signup-header">Login</span>
    <div class="field">
       <input type="email" name="email" placeholder="Enter email" />
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Enter password" />
    </div>
    <div class="field">
      <button>Login</button>
    </div>
</form>