<link type="text/css" rel="stylesheet" href="/css/employee_signup.css">
<form class="signup-form">
    <span class="signup-header">Sign Up</span>
    <div class="field">
       <input type="text" name="name" placeholder="Enter name"/>
    </div>
    <div class="field">
       <input type="email" name="email" placeholder="Enter email" />
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Enter password" />
    </div>
    <div class="field">
      <input type="password" name="confirm_password" placeholder="Confirm password" />
    </div>
    <div class="field">
      <button>Sign Up</button>
    </div>
</form>