<link type="text/css" rel="stylesheet" href="/css/home.css">

<h1>Placement cell Home page</h1>

<% if(locals.employee) { %>
    <div class="employee-home-view">
        <a href="/students/display-students">
            <div class="nav-to-stud">Students page</div>
        </a>
        <a href="/interviews/display-interviews">
            <div class="nav-to-int">Interviews page</div>
        </a>
        <a href="/jobs/display-jobs">
            <div class="nav-to-jobs">Jobs page</div>
        </a>
        <a href="/students/download-data">
            <div class="download-data">Download Students Data</div>
        </a>
    </div>
<% }else { %>
    <div class="home-view">
        <p>Welcome to Placement cell application, Please login to continue.</p>
    </div>
<% } %>
