/* Navbar container */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
    background: #2196f3;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

/* Navbar left section */
.nav-left span{
    display: block;
    padding-top: 1rem;
    padding-left: 8px;
    font-size: larger;
}

/* Navbar right section */
.nav-right ul{
    display: flex;
    flex-direction: row;
}

.nav-right ul li{
    margin-right: 15px;
    list-style: none;
    font-size: medium;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:visited{
    color: whitesmoke;
}