#interview-page-container{
    display: flex;
    flex-direction: row;
}

#forms-container{
    height: 91.4vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

#forms-container h3{
    text-align: center;
}

.create-interview-form{
    margin-bottom: 4rem;
}

#interview-details-view{
    width: 75%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
}

#interview-details-view h3{
    text-align: center;
}

.interview-container{
    margin-bottom: 2rem;
}

.interview-details{
    height: 4rem;
    width: 40em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid black;
}

.interview-details .fa-angle-down:hover{
    cursor: pointer;
}

.students-list{
    width: 100%;
}

.students-list table{
    width: 100%;
}

.students-list table, th, td{
    border: 1px solid black;
}


.display-none{
    display: none;
}