/* Interview view */
#interview-page-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Forms section of interview page */
#forms-container{
    height: 91.5vh;
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

#forms-container h3{
    text-align: center;
    color:#2196f3;
}

#forms-container input{
    border: none;
    border-bottom: 1px solid lightgray;
}

#forms-container input:focus{
    outline: none;
}

select{
    border: none;
    border-bottom: 1px solid lightgray;
    color: gray;
}

select:focus{
    outline: none;
}

option:not(:checked) {
    color: black; 
} 

#forms-container button{
    height: 2rem;
    width: 10em;
    color: whitesmoke;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
}

#forms-container button:hover{
    cursor: pointer;
}

/* Create interview Form section */
.create-interview-container{
    margin-bottom: 4rem;
}

/* Interview details section */
#interview-details-view{
    width: 75%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
}

#interview-details-view h3{
    text-align: center;
    color:#2196f3;
}

.interview-container{
    margin-bottom: 2rem;
}

.interview-details{
    height: 4rem;
    width: 40em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 19px;
    border: 1px solid black;
    background-color: #ccccf1;
}

.interview-details .fa-angle-down:hover{
    cursor: pointer;
}

/* styling for students list of interview */
.students-list{
    width: 40em;
}

.students-list table{
    width: 100%;
}

.students-list table, th, td{
    border: 1px solid black;
}

.students-list th{
    background-color: lightgray;
}

.students-list td{
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #E6E6FA;
}

.students-list td form select{
    box-sizing: border-box;
    margin-bottom: 10px;
}

.students-list td form button{
    height: 2rem;
    width: 6em;
    color: whitesmoke;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
}

.students-list td form button:hover{
    cursor: pointer;
}


.display-none{
    display: none;
}