#students-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#form-section{
    height: 91.5vh;
    width: 25%;
    min-width: 200px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid black;
}

#form-section h3{
    text-align: center;
    color:#2196f3;
}

#form-section input{
    border: none;
    border-bottom: 1px solid lightgray;
}

#form-section input:focus{
    outline: none;
}

#form-section button{
    height: 2rem;
    width: 6rem;
    color: whitesmoke;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
}

#form-section button:hover{
    cursor: pointer;
}

#student-details{
    max-height: 90vh;
    box-sizing: border-box;
    padding: 15px;
    overflow-y: scroll;
}

#student-details h3{
    text-align: center;
    color:#2196f3;
}

table, th, td {
    border:1px solid black;
}

th{
    background-color: lightgray;
}

td{
    text-align: center;
    padding: 5px;
    background-color: #E6E6FA;
}