#students-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#form-section{
    height: 91.2vh;
    width: 25%;
    min-width: 200px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid black;
}

#form-section h3{
    text-align: center;
}

#form-section button{
    height: 2rem;
    width: 6rem;
    color: whitesmoke;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
}

#form-section button:hover{
    cursor: pointer;
}

#student-details{
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

#student-details h3{
    text-align: center;
}

table, th, td {
    border:1px solid black;
}